@import "../../_vars.scss";

.container {
  height: 90%;
  display: flex;
  flex-direction: row;
  margin: 2vh 0 0 4%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
}

.header-content {
  width: 100%;
}

.title {
  font-size: 2vw;
}

.date {
  margin-right: 2%;
  font-size: 1.2vw;
}


.content {
  font-size: 1vw;
  margin-right: 1.7vw;
}

.divider {
  min-height: 90vh;
  height: 98%;
  border-color: $elephant-light-black;
}

.share-note-btn {
  background-color: $elephant-green;
  color: $elephant-white;
  width: 60%;
  align-self: center;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* show comment style */

.all-comments-container {
  overflow: auto;
  max-height: 80%;
}

.comment-container {
  border: 1px solid $elephant-light-black;
  border-radius: 3%;
  padding: 0.5vw;
  margin: 5%;
}

.comment-title {
  display: flex;
  justify-content: space-between;
}

.comment-title-font {
  font-size: 0.8vw;
  font-weight: 500;
}
