<div class="container">
  <div class="header-content" >
    <div class="header">
      <h1 class="title">{{title}}</h1>
      <app-tag-note
        class="tag-note"
        [noteId]="id"
        [tags]="tags"
      ></app-tag-note>
      <h2 class="date">{{created}}</h2>
    </div>
    <p class="content" #target>{{content}}</p>
  </div>
  <div>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
  </div>
  <div class="right-container">
    <button mat-raised-button class="share-note-btn" (click)="openDialog()">Compartir</button>
    <button mat-raised-button class="edit-note-btn" (click)="startEditing()" *ngIf="hasEditPermission">Editar nota</button>
    <div class="no-comments-container" *ngIf="!hasComments">
      <h1 class="no-comments-text">Aun no hay comentarios</h1>
    </div>
    <div class="all-comments-container" *ngIf="hasComments" #commentsTarget>
      <div class="comment-container" *ngFor="let comment of comments">
        <div class="comment-title">
          <h1 class="comment-title-font">{{comment.ownerName}}</h1>
          <h1 class="comment-title-font">Hace {{comment.created}}</h1>
        </div>
        <p>{{comment.content}}</p>
      </div>
    </div>
  </div>
</div>
