<div class="container">
  <div class="header-content">
    <div class="header">
      <h1 class="title">{{title}}</h1>
      <h2 class="date">{{created}}</h2>
    </div>
    <p class="content">{{content}}</p>
  </div>
  <div>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
  </div>
  <div class="btn-container">
    <button mat-raised-button class="share-note-btn" (click)="openDialog()">Compartir</button>
    <form class="comment-container">
      <textarea class="comment-text-area" placeholder="Nuevo comentario..." maxlength="300"
                name="cardComment"></textarea>
      <button type="submit" mat-raised-button class="add-comment-btn">Agregar comentario</button>
    </form>
  </div>


</div>
