<div class="container">
  <div class="header-content" #target>
    <div class="header">
      <h1 class="title">{{title}}</h1>
      <h2 class="date">{{created}}</h2>
    </div>
    <p class="content" >{{content}}</p>
  </div>
  <div>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
  </div>
  <div class="right-container">
    <button mat-raised-button class="share-note-btn" (click)="openDialog()">Compartir</button>
    <div class="all-comments-container" [style]="'max-height: ' + contentHeight">
      <div class="comment-container" *ngFor="let comment of comments">
        <div class="comment-title">
          <h1 class="comment-title-font">{{comment.owner}}</h1>
          <h1 class="comment-title-font">Hace {{comment.created}}</h1>
        </div>
        <p>{{comment.content}}</p>
      </div>
    </div>
  </div>
</div>
