@import "../../_vars.scss";

.div-container {
  text-align: center;
  border: 1px solid;
  padding: 3%;
  margin: 6% 30%;
  border-radius: 1rem;
}

.span-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin-top: 5%;
}

.register-span {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-button {
  margin-top: 5%;
  background-color: $elephant-green;
  color: $elephant-white;
}
