<div id="printable" class="hidden">
  <div class="print-container">
    <div class="print-header-content">
      <div class="print-header">
        <h1 class="print-title">{{noteToPrint.title}}</h1>
        <h2 class="print-date">{{'Fecha: ' + noteToPrint.created}}</h2>
      </div>
      <div class="flex-tags print-tags">
        <span>Etiquetas: </span>
        <div class="print-single-tag" *ngFor="let tag of noteToPrint.tags">
          {{tag}}
        </div>
      </div>
      <p class="print-content">{{noteToPrint.content}}</p>
    </div>
  </div>
</div>

