<div class="div-container">

  <div class="span-container">
    <span class="register-span">Iniciar Sesión</span>
  </div>

  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="5rem">

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Constraseña</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <button class="form-button"
            type="submit"
            mat-raised-button>
      Iniciar Sesión
    </button>
  </form>

  <mat-divider class="margin-top-1"></mat-divider>

  <div class="form-container">

    <div class="span-container margin-top-1">
      <span>¿Nuevo en Elephant?</span>

    </div>

    <button class="form-button margin-top-1"
            type="submit"
            mat-raised-button [routerLink]="'/register'">
      Registrarse
    </button>
  </div>
</div>

