$elephant-blue: #007ad9;
$elephant-red: #e91224;
$elephant-dark-red: #a80000;
$elephant-red-highlight: rgb(233, 18, 36, 0.3);
$elephant-green: #34a835;
$elephant-light-black: #333333;
$elephant-light-grey: #eaeaea;
$elephant-white: #ffffff;
// TODO add correct color pallet
