@import "../../_vars.scss";

.container {
  display: flex;
  flex-direction: column;
}

.message {
  text-align: center;
  font-size: 1vw;
  font-weight: 500;
}

.actions-div {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.close-btn {
  background-color: $elephant-red;
  color: $elephant-white
}

.confirm-btn {
  background-color: $elephant-green;
  color: $elephant-white
}
