<div class="dialog-container">
  <h1 mat-dialog-title class="title">Cambiar contraseña</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="dialog-content">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input matInput type="password" formControlName="oldPassword"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña nueva</mat-label>
        <input matInput type="password" formControlName="newPassword" appValidateEqual="repeatPassword" reverse="true"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Repetir contraseña nueva</mat-label>
        <input matInput type="password" formControlName="repeatPassword" appValidateEqual="newPassword"/>
      </mat-form-field>
    </div>

    <div class="actions-div" mat-dialog-actions>
      <button class="close-btn" mat-button mat-dialog-close>Cerrar</button>
      <button class="update-btn" mat-button type="submit" [disabled]="!form.valid">Confirmar</button>
    </div>
  </form>
</div>
