<mat-form-field class="searchable-input">
  <mat-label>Buscá por título y tags</mat-label>
  <input matInput type="text" [(ngModel)]="filterString">
</mat-form-field>

<mat-grid-list cols="4" rowHeight="1:1" *ngIf="loaded">
  <mat-grid-tile>
    <mat-card (click)="openDialog()">
      <mat-card-title>
        <mat-icon class="plus-create">add</mat-icon>
      </mat-card-title>
      <mat-card-content class="create-text">Crear nueva nota</mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let note of notes | filterNote:filterString">
    <mat-card>
      <mat-card-title>
<!--        <i class="material-icons pinUp-icon" *ngIf="note.pinUp">push_pin</i>-->
        <mat-icon *ngIf="note.pinUp" class="star-pinUp">star</mat-icon>
        <mat-icon *ngIf="!note.pinUp">star_border</mat-icon>
        {{note.title}}
        <button mat-icon-button [matMenuTriggerFor]="menu" class="optionsButton" (click)="checkPermission(note)">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="toggleStickNote(note)">
            <span *ngIf="!note.pinUp">Fijar</span>
            <span *ngIf="note.pinUp">Desfijar</span>
          </button>
          <button mat-menu-item (click)="printNote(note)">
            <span>Imprimir</span>
          </button>
          <button mat-menu-item (click)="deleteNote(note)" *ngIf="isOwner">
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </mat-card-title>

      <mat-card-content class="flex-col card-content" (click)="openNote(note)">
        <div class="see-card-text">
          {{note.content ? note.content : 'No se ha agregado contenido'}}
        </div>
        <mat-chip-list>
          <mat-chip class="single-chip" *ngFor="let tag of note.tags.slice(0,4)">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<h2 *ngIf="(notes | filterNote:filterString).length === 0" class="empty-notes">No hay notas disponibles</h2>

<app-print-note [noteToPrint]="noteToPrint" *ngIf="noteToPrint"></app-print-note>
