@import "../../_vars.scss";

.create-button {
  margin: 20px;
  background-color: $elephant-light-black;
  width: 18rem;
  height: 15rem;
  border: 1px solid;
  border-radius: 1rem;
  cursor: pointer;
}

.plus-create {
  font-size: 180px;
  margin-left: 18%;
}
.create-text{
  margin-top: 5%;
  margin-left: 10%;
  font-size: 30px;
}
