<mat-form-field class="searchable-input">
  <mat-label>Buscá por título y tags</mat-label>
  <input matInput type="text" [(ngModel)]="filterString">
</mat-form-field>

<mat-grid-list cols="4" rowHeight="1:1" *ngIf="loaded" class="margin-top-112">

  <mat-grid-tile *ngFor="let note of notes | filterNote:filterString">
    <mat-card class="card create-button" (click)="openNote(note)">
      <mat-card-title> {{note.title}} </mat-card-title>
      <mat-card-content class="create-text" *ngFor="let tag of note.tags">
        {{tag}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card create-button" (click)="openDialog()">
      <mat-card-title>
        <mat-icon class="plus-create">add</mat-icon>
      </mat-card-title>
      <mat-card-content class="create-text">Crear nueva nota</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
