@import "../../_vars.scss";

.div-container {
  text-align: center;
  border: 1px solid;
  padding: 1% 1%;
  margin: 6% 38%;
  border-radius: 1rem;

}

.span-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin-top: 5%;
}

.profile-span {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.edit-button {
  background-color: $elephant-green;
  color: $elephant-white;
}

.change-password {
  background-color: $elephant-green;
  color: $elephant-white;
  height: 2.2rem;
  font-size: 80%;
}

.delete-user {
  background-color: $elephant-red;
  color: $elephant-white;
  height: 2.2rem;
  font-size: 80%;
}


.margin-top-1 {
  margin-top: 1rem;
}

.profile-name-lastname {
  width: 13rem;
  border-radius: 0.4rem;
  height: 2rem;
  font-size: 15px;
  border: 1px solid;
  display: block;
  margin-top: 2%;
}

.profile-email {
  text-align: left;
  font-size: 15px;
  display: block;
  margin-top: 2%;
}

.profile-email-label {
  display: block;
}
.flex-container {
  margin-top: 3%;
  margin-bottom: 1%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
