@import "../../_vars.scss";

mat-toolbar{
  background-color: $elephant-green;
}

a{
  color: white;
  cursor: pointer;
  font-size: 23px;
  text-decoration: none;
}

.title-center {
  margin: 0 auto;
}

.option-button{
  color: white;
}
