@import "../../_vars.scss";

mat-toolbar {
  background-color: $elephant-green;
}

a {
  color: white;
  cursor: pointer;
  font-size: 23px;
  text-decoration: none;
}

.title-center {
  flex: 1;
  text-align: center;
  margin-left: 2.2%;
}

.option-button {
  color: white;
}
