@import "app/vars";

html, body {
  height: 100%;
}

li{
  display: block;
}

.clickable{
  cursor: pointer;
}

.overflow-auto{
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0 20px;
}

h1, h2, h3, h4 {
  font-family: Calibri, arial, serif;
  text-shadow: 0 3px 3px rgba(255,255,255,0.5);
  color: $elephant-light-black;
}
h1 {
  font-size: 36px;
  letter-spacing: 5px;
}
p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: $elephant-light-black;
}
span {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

// Form Validation
input.ng-dirty.ng-invalid{
  border: 1px solid $elephant-dark-red;
}
