<div class="div-container">
  <div class="span-container">
    <span class="create-span">Nueva Nota
    <p class="close-button" mat-button routerLink="/home"><mat-icon>close</mat-icon>
    </p>
    </span>
  </div>


  <form class="form-container" [formGroup]="noteForm" (ngSubmit)="createNote()">
    <label class="note-label">Nombre</label>

    <br>

    <input placeholder="Nota 1" type="text" class="form-control create-input" formControlName="title" maxlength="60">

    <br>

    <button type="submit" [disabled]="disabled()" class="form-button"> Crear Nota</button>

  </form>
</div>
