<div class="dialog-container">
  <h1 class="dialog-title" mat-dialog-title>Nueva Nota</h1>
  <form [formGroup]="noteForm" (ngSubmit)="createNote()">
    <div mat-dialog-content class="dialog-content">
      <mat-form-field appearance="outline" class="name-input">
        <mat-label>Nombre</mat-label>
        <input matInput id="note-name" type="text" formControlName="title" maxlength="60" value=""/>
      </mat-form-field>
    </div>

    <div class="actions-div" mat-dialog-actions>
      <button class="close-btn" mat-button mat-dialog-close>Cerrar</button>
      <button class="share-btn" mat-button type="submit" [disabled]="!noteForm.valid">Crear Nota</button>
    </div>
  </form>
</div>
