@import "../../_vars.scss";

.dialog-container {
  text-align: center;
}

.close-btn {
  background-color: $elephant-red;
  color: $elephant-white
}

.share-btn {
  background-color: $elephant-green;
  color: $elephant-white
}

.dialog-title {
  font-size: 1.5vw;
}

::ng-deep.mat-dialog-container {
  max-height: none !important;
  height: 135%;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
}


.input {
  width: 100%;
}

.actions-div {
  display: flex;
  justify-content: space-between;
}
