
<h2 class="dialog-title" mat-dialog-title>Nueva Nota
  <mat-dialog-actions>
    <button class="close-button" mat-button mat-dialog-close routerLink="/home">
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</h2>


  <form class="create-note-form" [formGroup]="noteForm" (ngSubmit)="createNote()">
    <label for="note-name" class="create-label">Nombre</label>
    <input id="note-name" placeholder="Nota 1" type="text" class="form-control create-input" formControlName="title"
        name="title" maxlength="60" value="">
  </form>
  <mat-dialog-actions>
    <button type="submit" mat-dialog-close="false" class="create-button" [disabled]="disabled()" (click)="createNote()"> Crear Nota</button>
  </mat-dialog-actions>

