.close-button {
  margin-top: -37%;
  margin-left: 85%;
  cursor: pointer;
}

.dialog-title {
  text-align: center;
  margin-bottom: -22%;
  font-size: 23px;
}

.create-note-form {
  margin-top: 10%;
  margin-left: 30%;
  font-size: 20px;
}

.create-button {
  margin-left: 60%;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: white;
  font-size: 15px;
  border: 1px solid;
  cursor: pointer;
}

.create-input {
  margin-left: -10%;
  width: 12rem;
  border-radius: 0.4rem;
  height: 1.5rem;
  font-size: 15px;
  border: 1px solid;
  display: block;
}

.create-label {
  margin-left: -10%;
  display: block;
  margin-bottom: 3%;
}

