@import "../../_vars.scss";

.dialog-container {
  text-align: center;
}

.close-btn {
  background-color: $elephant-red;
  color: $elephant-white
}

.share-btn {
  background-color: $elephant-green;
  color: $elephant-white
}

.actions-div {
  display: flex;
  justify-content: space-between;
}

.email-input {
  width: 100%;
}

.title {
  font-size: 1.5vw;
}

.form {
  display: flex;
}

.mode-selector{
  width: 20%;
}
